<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <section class="titlesection">
            <h3><%= title %></h3>
        </section>
        <section>
            <% likes.forEach(like => { %>
                <section>
                    <h3><%= like.gebruikersnaam %></h3>
                    <ul>
                        <li>Leeftijd: <%= like.leeftijd %></li>
                        <li>Genres: <% like.muziekgenres.forEach((genre, index) => { %>
                            <% if (index + 1 < like.muziekgenres.length) { %>
                                <%= genre + "," %>
                            <% } else { %>
                                <%= genre %>
                            <% } %>
                        <% }) %></li>
                    </ul>
                    <form action="/results" method="post">
                        <button name="like" type="submit" value="<%= like.gebruikersnaam %>"><img src="/images/user-liked-icon.svg"/></button>
                    </form>
                </section>
            <% }) %>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>