<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <section class="titlesection">
            <h3><%= title %></h3>
        </section>
        <section>
            <!-- Voor elke like wordt er een nieuwe section gemaakt van de gebruiker met daarbij een knop om de gebruiker te kunnen verwijderen uit opgeslagen likes-->
            <% likes.forEach(like => { %>
                <section>
                    <h3><%= like.gebruikersnaam %></h3>
                    <ul>
                        <li>Leeftijd: <%= like.leeftijd %></li>
                        <li>Genres: <% like.muziekgenres.forEach((genre, index) => { %>
                            <% if (index + 1 < like.muziekgenres.length) { %>
                                <%= genre + "," %>
                            <% } else { %>
                                <%= genre %>
                            <% } %>
                        <% }) %></li>
                    </ul>
                    <form class="likeFormRemove" action="/results" method="post">
                        <button name="like" type="submit" value="<%= like.gebruikersnaam %>"><img src="/images/user-liked-icon.svg" alt="geliked icoontje"/>Remove</button>
                    </form>
                </section>
            <% }) %>
        </section>
    </main>
    <footer>
        <!-- Link naar top van pagina, komt pas naar boven wanneer er voldoende gescrollt is-->
        <a href="#" class="naarBegin">Naar begin</a>
        <%- include('../partials/footer') %>
    </footer>
    <script src="/scripts/api.js"></script>
</body>
</html>