<head>
    <%- include('../partials/head') %>
</head>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <section>
            <h3><%= title %></h3>
        </section>
        <section>
            <% festivals.forEach(festivals => { %>
                <section>
                    <h3>Festival: <%= festivals.naam %></h3>
                    <li>Datum: <%= festivals.datum %></li>
                    <li>Muziekgenres: <%= festivals.genres %></li>
                </section>
            <% }); %>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>