<head>
    <%- include('../partials/head') %>
</head>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <section class="titlesection">
            <h3><%= title %></h3>
        </section>
        <section>
            <!-- Voor elk festival wordt er een nieuwe section gemaakt-->
            <% festivals.forEach(festivals => { %>
                <section>
                    <h3>Festival: <%= festivals.naam %></h3>
                    <li>Datum: <%= festivals.datum %></li>
                    <li>Muziekgenres: <%= festivals.genres %></li>
                </section>
            <% }); %>
        </section>
    </main>
    <footer>
        <!-- Link naar top van pagina, komt pas naar boven wanneer er voldoende gescrollt is-->
        <a href="#" class="naarBegin">Naar begin</a>
        <%- include('../partials/footer') %>
    </footer>
    <script src="/scripts/api.js"></script>
</body>
</html>