<body>
    <head>
        <%- include('../partials/head') %>
    </head>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <section>
            <h3>Zoek naar andere gebruikers</h3>
        </section>
        <section>
            <form action="/socialresults" method="post">
                <label for="genres">Kies muziekgenres</label>
                <select id="genres" name="genres" size="10" multiple>
                    <option value="Techno">Techno</option>
                    <option value="House">House</option>
                    <option value="Hardstyle">Hardstyle</option>
                    <option value="Hardcore">Hardcore</option>
                    <option value="R&B">R&B</option>
                    <option value="Up-tempo">Up-tempo</option>
                    <option value="Pop">Pop</option>
                    <option value="Hip-hop">Hip-hop</option>
                    <option value="Rock">Rock</option>
                    <option value="Reggae">Reggae</option>
                </select>
                <input type="submit" value="zoeken">
            </form>
        </section>
        <section>
            <% users.forEach(user => { %>
                <section>
                    <h3><%= user.gebruikersnaam %></h3>
                    <ul>
                        <li>Leeftijd: <%= user.leeftijd %></li>
                        <li>Genres: <% user.muziekgenres.forEach((genre, index) => { %>
                            <% if (index + 1 < user.muziekgenres.length) { %>
                                <%= genre + "," %>
                            <% } else { %>
                                <%= genre %>
                            <% } %>
                        <% }) %></li>
                    </ul>
                </section>
            <% }); %>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>