<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <section>
            <h3>Results for: <%= formData %></h3>
        </section>
        <section>
            <% data.forEach(match => { %>
                <section>
                    <h3><%= match.gebruikersnaam %></h3>
                    <ul>
                        <li>Leeftijd: <%= match.leeftijd %></li>
                        <li>Genres: <% match.muziekgenres.forEach((genre, index) => { %>
                            <% if (index + 1 < match.muziekgenres.length) { %>
                                <%= genre + "," %>
                            <% } else { %>
                                <%= genre %>
                            <% } %>
                        <% }) %></li>
                    </ul>
                    <form action="/results" method="post">
                        <button name="like" type="submit" value="<%= match.gebruikersnaam %>"><img src="/images/user-like-icon.svg"/></button>
                    </form>
                </section>
            <% }) %>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>